<?xml version="1.0"?>
<model>
  <name>Person Walking Lidar 1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Patrick Goebel</name>
    <email>pgoebel@stanford.edu</email>
  </author>

  <description>
    A walking person. Model created with Makehuman (http://www.makehuman.org/)
  </description>
</model>
